################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Bogong-GameEngine/v15
/assets/models
/Debug
/x64
